*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('./FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('./FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Book.woff2') format('woff2'),
         url('./FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Heavy.woff2') format('woff2'),
         url('./FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#6e0d0d;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffffff;
    --texto-cor: #3b0101;
}

body{
    background-image: url("../img/img.cartas1.webp");
    background-size: cover;
    background-position: center; 
    
    background-attachment: fixed; 
   /* background-attachment: scroll;*/
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
    border-radius: 10rem;
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 51px;
    font-size: 1.92rem;
    font-weight: 300;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    
}

nav.pags a:hover {
    text-decoration: double;
}

nav.pags p {
    margin-top: -39px;
    margin-left: 520px;
    color: black;
}

.part h1 {
    margin-left: 445px;
    margin-top: 32px;
    color: var(--texto-cor);
    font-size: 3.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: #000000;

    color: rgb(54, 8, 8);
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgba(255, 52, 52, 0.842), 0 0 20px rgb(252, 148, 148);
}

.partes {
    position: relative;
    padding: 20px;
    color: #fff;
}

.background-square {
    position: absolute;
    top: 0;
    margin-left: 11.4rem;
    width: 70%;
    height: 28%;
    background-color: rgba(201, 28, 28, 0.301); /* Cor de fundo do quadrado */
    color: #fff;
    border-radius: 8px; /* Bordas arredondadas */
    z-index: 1; /* Coloca o quadrado atrás do texto */
}

.partes div[class^="part"] {
    position: relative;
    z-index: 2; 
    color: white;
    padding: 10px; 
} 

.part1 h4 {
    margin-left: 210px;
    margin-top: 7.5px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.part2 h4 {
    margin-left: 210px;
    margin-top: -1955px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.part3 h4 {
    margin-left: 210px;
    margin-top: -1980px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.part4 h4 {
    margin-left: 210px;
    margin-top: -1960px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.part5 h4 {
    margin-left: 210px;
    margin-top: -1981px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.part6 h4 {
    margin-left: 210px;
    margin-top: -1981px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.part7 h4 {
    margin-left: 210px;
    margin-top: -1957px;
    text-align: start;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    width: 900px;
    height: 28rem;
    margin-bottom: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}