*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('./FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('./FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Book.woff2') format('woff2'),
         url('./FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Heavy.woff2') format('woff2'),
         url('./FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#6e0d0d;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffffff;
}

body{
    background-image: url("../img/img.cartas1.webp");
    background-size: cover;
    background-position: center; 
   /* position: fixed;
    background-attachment: scroll;*/
    background-attachment: fixed;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;

}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
    border-radius: 10rem;
}

header nav {
    width: 71.66rem;
    height: auto;
    
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    /*margin-left: 101px;*/

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: rgb(233, 198, 198);
    text-decoration: none;
    margin-left: 51px;
    font-size: 1.92rem;
    font-weight: 300;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    
}

nav.pags a:hover {
    text-decoration: double;
}

nav.pags p {
    margin-top: -39px;
    margin-left: 520px;
    color: black;
}

.intro p {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    width: 40rem;
    margin-left: 18rem;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
}

.intro p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 44rem;
    height: 100%;
    margin-left: -30px;
    margin-top: 750rem;
    border-radius: 2rem;
    background-attachment: fixed;
    margin-top: 3px;
    background-color: #a02121;
    z-index: -1;
}

.moving-text {
    position: relative;
    display: inline-block;
    /*animation: moveText 2s infinite alternate;  Faz o texto se mover */
    margin: 0; 
    margin-left: 39px;
}  

.baralho_c h3 {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 23px;
    margin-top: 77px;
    margin-left: 9rem;
    text-align: justify;
    margin-bottom: -70rem;
    color: #ffdede;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
}

.baralho_c p {
    font-size: 15px;
    margin-top: 50px;
    margin-left: 6.99rem;
    text-align: justify;
    margin-bottom: -1.3rem;
    max-width: 16.5rem;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;

    word-spacing: normal;
}

.baralho_c p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 127%;
    margin-left: 83px;
    margin-top: -200rem;
    border-radius: 2rem;
    background-attachment: fixed;
    margin-top: 350px;
    background-color: #6b1d1d;
    z-index: -1;
}

.baralho_p h3 {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 23px;
    top: -680px;
    margin-left: 28.20rem;
    text-align: justify;
    margin-bottom: -70rem;
    color: #ffdede;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
}

.baralho_p p {
    font-size: 15px;
    margin-top: -631.8px;
    margin-left: 28.99rem;
    text-align: justify;
    margin-bottom: 41.3rem;
    
    max-width: 16.5rem;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;

    word-spacing: normal;
}

.baralho_p p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 138.5%;
    margin-left: 436px;
    margin-top: -200rem;
    border-radius: 2rem;
    background-attachment: fixed;
    margin-top: 350px;
    background-color: #6b1d1d;
    z-index: -2;
}

.tarot h3 {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 23px;
    top: -1429px;
    margin-left: 52.7rem;
    text-align: justify;
    margin-bottom: -70rem;
    color: #ffdede;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
}

.tarot p {
    font-size: 15px;
    margin-top: -1380px;
    margin-left: 51.1rem;
    text-align: justify;
    margin-bottom: 87.7rem;
    max-width: 16.5rem;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;

    word-spacing: normal;
}

.tarot p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 135%;
    margin-left: 790px;
    margin-top: -200rem;
    border-radius: 2rem;
    background-attachment: fixed;
    margin-top: 350px;
    background-color: #6b1d1d;
    z-index: -1;
}